@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  grid-template-columns: 3fr 8fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "player player";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b2b2b2;
}
